{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg"
    >
      <div class="container-fluid ">
        <a class="navbar-brand fs-3 fw-bolder text-light" href="/">CloudNest</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo02"
          aria-controls="navbarTogglerDemo02"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav me-auto mb-1 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active text-light" aria-current="page" href="/"
                >Home</a
              >
            </li>
            {% if not user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link text-light" href="/cloudNest/login">Login</a>
            </li>
            {% endif %} {% if not user.is_authenticated %}
            <li class="nav-item">
              <a
                class="nav-link text-light"
                href="/cloudNest/register"
                aria-disabled="true"
                >Signup</a
              >
            </li>
            {% endif %} 
          </ul>

          {% if user.is_authenticated %}
          <form class="container d-flex  ms-5" role="search">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search text-light search_icon" viewBox="0 0 16 16">
  <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
</svg>
            <input
              class="form-control me-2 w-100 search_control border-0 px-5" 
              type="search"
              placeholder="Search"
              aria-label="Search"
              
            />
          </form>
          

          <button type="button" class="btn btn-dark me-3 logoutBtn">
            <a href="/cloudNest/logout/" class="text-light text-decoration-none"
              >Logout</a
            >
          </button>
          <div class="w-25 ms-3 text-white">
            Hello, {{user.username}}
          </div>

          {% endif %}
        </div>
      </div>
    </nav>
    {% if not user.is_authenticated %}
     <hr class="text-light hr_unauth_home mt-0">
     {% endif %}
  </body>
</html>
