{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block content %}
 {% for msg in messages %}
    {% if msg.level ==  DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success w-50 m-auto">{{msg}}</div>
    {% endif %}

    {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="alert alert-danger w-50 m-auto">{{msg}}</div>
    {% endif %}
{% endfor %}

  <div class="container_loggedin">
      <form action="" method="POST" class="text-white w-50 m-auto  ">
        <!-- {% csrf_token %} -->
        <!-- {{ Login_user | crispy}} -->
        {% csrf_token %}
        {{ Login_user.username|as_crispy_field }}
        {{ Login_user.email|as_crispy_field }}
        {{ Login_user.password|as_crispy_field }}

        <button type="submit" value="login" class="p-2 w-100 bg_success_loggedIn rounded">Login</button>
    </form>
  </div>

{% endblock content %}