{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container_registered">

<!-- Bootstrap Modal Structure -->
<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-body bg-dark text-warning rounded">
                {% for msg in messages %}
                    <div class="alert alert-{{ msg.tags }}">
                        {{ msg }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


    <form action="" method="post" enctype="multipart/form-data" class="text-white w-50 m-auto">
        {% csrf_token %}

        {{ Registration_form.username|as_crispy_field }}
        {{ Registration_form.email|as_crispy_field }}
        {{ Registration_form.password1|as_crispy_field }}
        {{ Registration_form.password2|as_crispy_field }}

            <input type="submit" value="register" class="bg_success_registered">
              <p class="mt-3">already have an accounts <a href="/cloudNest/login" class="text-decoration-none">signin</a></p>      
        <div> 
        </div>
    </form>
</div>



<script>
    document.addEventListener("DOMContentLoaded", function() {
        {% if messages %}
            var messageModal = new bootstrap.Modal(document.getElementById('messageModal'), {
                keyboard: true
            });
            messageModal.show();
        {% endif %}
    });
</script>

{% endblock content %}