{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block content %}
 
 {% comment %} {% for msg in messages %}
    {% if msg.level ==  DEFAULT_MESSAGE_LEVELS.SUCCESS %}
    <div class="alert alert-success w-50 m-auto">{{msg}}</div>
    {% endif %}

    {% if msg.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
    <div class="alert alert-danger w-50 m-auto">{{msg}}</div>
    {% endif %}
{% endfor %} {% endcomment %}


<div class="container_registered">

<!-- Bootstrap Modal Structure -->
<div class="modal fade text-danger" id="messageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-sm-down">
        <div class="modal-content">
            <div class="modal-body">
                {% for msg in messages %}
                    <div class="alert alert-{{ msg.tags }}">
                        {{ msg }}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


    <form action="" method="post" enctype="multipart/form-data" class="text-white w-50 m-auto">
        {% csrf_token %}
        {{ Registration_form | crispy }}
              <p>already have an accounts <a href="/cloudNest/login">signin</a></p>      
        <div> 
            <input type="submit" value="register">
        </div>
    </form>
</div>



<script>
    document.addEventListener("DOMContentLoaded", function() {
        {% if messages %}
            var messageModal = new bootstrap.Modal(document.getElementById('messageModal'), {
                keyboard: true
            });
            messageModal.show();
        {% endif %}
    });
</script>

{% endblock content %}