{% extends 'index.html' %}
{% block content %}

{% if user.is_authenticated %}

<style>
        .show{
            display: block;
        }
        .hide{
            display: none;
        }
</style>
{% include "leftContainer.html" %}

{% include "rightContainer.html" %}

<script>

var menu = document.getElementById('menu')
var btn = document.getElementById("btn")

btn.addEventListener('click',()=>{
    menu.classList.toggle('show')
    })

// document.addEventListener('click', e => {
//     if(!menu.contains(e.target) && e.target !== btn){
//         menu.classList.add('hide')
//     }
// })


</script>

{% else %}
<p>not authenticated for home page</p>

{% endif %} 

{% endblock content %}