.btn{
    background-color: rgb(109, 102, 102)!important;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.showitems{
    top:18%;
    left:9%;
    display: none;
}
#uploadFile, #submitBtn,#folderInput{
    display: none;
}
.uploadFile,.uploadFolder{
    cursor: pointer;
}
.search_control::placeholder{
    color: white !important;
    padding-left: 5% !important;
}
.folderhideRightClick,.filehideRightClick{
    display: none;
    position: absolute;
    top: -23%;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}
.search_icon{
    position: absolute;
    top: 25px;
    left: 24%;
}
.folderhideRightClick ul, .filehideRightClick ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.folderhideRightClick ul li, .filehideRightClick ul li {
    padding: 8px 12px;
}

.folderhideRightClick ul li a, .filehideRightClick ul li a {
    text-decoration: none;
    color: #333;
}

.folderhideRightClick ul li:hover, .filehideRightClick ul li:hover {
    background-color: #f0f0f0;
}
#renameform{
    position: absolute;
    padding: 9px;
    top: 21px;
    left: 4rem;
}
.file_name_width{
    max-width: 30%;
}

#renameInnerform{
    position: absolute;
    top: 0rem;
    padding-left: 29px;
}
#renameInnerfile{
    position: absolute;
    top:0rem;
    padding-left:2rem;
}
#renameSubFiles{
    position: absolute;
    top:0rem;
    padding-left:9rem;
    margin-left:2rem;
    width:auto;
}
.logoutBtn{
    margin-left: 3rem;
  }
.unauth_strong_tag{
    color:rgb(148, 143, 143);
}
.container_loggedin{
    margin-top: 12vh !important;
}
.bg_success_loggedIn{
    background-color:rgba(-126,56,44);
    color: rgb(241, 237, 237);
}
.container_registered{
    margin-top: 12vh;
}
.fixed-top-alert {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 600px;
    z-index: 1050;
    display: none;
}
.left-side-container{
    background-color:#242222;
}
.right-side-container{
    background-color: #141313;
    border-radius: 1rem;
}
.navbar{
    background-color:#242222;
}
body{
    background-color: #242222 !important;
}
.search_control{
    color: white !important;
    background: #494646 !important;
    width: 32rem !important;
    border-radius: 20px !important;
}
.search_control:focus .search_icon {
    display: none !important;
  }
.text_home_nonAuth{
    color:grey;
}
.strong_non_auth{
    color: rgb(240, 234, 234);
}
.my-custom-class {
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    color: white !important;
}
.bg_success_loggedIn {
    background-color: #28a745;
}
.form-control{
    background: rgb(73, 72, 72) !important;
}
.form-control::placeholder{
    color: white !important;
    text-align: center !important;
}