.btn{
    background-color: rgb(109, 102, 102)!important;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.showitems{
    top:18%;
    left:9%;
    display: none;
}
#uploadFile{
    display: none;
}
.uploadFile{
    cursor: pointer;
}